form {
    height: 90%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form input {
    height: 10%;
    width: 50%;
    margin: 5px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}